@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
   font-family: "Rubik", sans-serif;
   font-size: 12px;
   color: #616161;
}

.wrapper {
   overflow: hidden; /* ??? */
   display: flex;
   flex-direction: column;
   min-height: 100%; /* ??? */
}
.main {
   flex: 1 1 auto; /* main расширяется и прижимает футер к низу */
}
[class*="__container"] {
   /* селектор атрибута ??? */
   max-width: 1087px; /* ??? 1057+30 */
   margin: 0 auto; /* ??? */
   padding: 0 15px;
}
/* PC - первый брейкпоинт */
@media (max-width: 1087px) {
   [class*="__container"] {
      max-width: 970px;
   }
}
/* Tablet - второй брейкпоинт */
@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
   .header__container {
      min-height: 80px;
   }
   .header__button {
      flex: 0 0 170px;
   }
   .menu__item {
      margin: 0 30px 0 0;
   }
}
/* Mobile - третий брейкпоинт */
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}
/* Mobile Small - четвертый брейкпоинт */
@media (max-width: 479.98px) {
   [class*="__container"] {
      max-width: none;
   }
}
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
.header__container {
   display: flex; /* ??? */
   min-height: 114px; /* ??? */
   align-items: center; /* для выравнивания: по горизонтали или по вертикали??? */
}
.header__logo {
}
.header__menu {
   flex: 1 1 auto; /* ??? есть урок-шорт на канале фрилансер по жизни */
}
.menu {
   display: flex;
   justify-content: flex-end;
   padding: 0px 40px 0px 0px;
}
.menu__list {
   display: flex; /* ??? */
   /* на Mac gap не сработает - говорит фрилансер по жизни - нжно через маржин */
}
.menu__item {
   margin: 0 40px 0 0;
}
.menu__link {
   font-family: "Raleway";
   text-transform: uppercase;
   font-size: 10px;
   line-height: auto; /* можно ли так? */
   letter-spacing: 14%;
   font-weight: bold;
   color: #000000;
}
.header__button {
   flex: 0 0 252px; /* ??? */
   display: flex; /* ??? */
   justify-content: flex-end; /* ??? */
}
.button {
   display: inline-block;
   font-family: "Raleway";
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 12px;
   letter-spacing: 1px;
   color: #fcfdfe;
   padding: 14px 30px;
   border-radius: 5px;
   background-color: #ec5863;
   transition: background-color 0.3s ease 0s;
}
.button__blue {
   background-color: #4285f4;
}
.button:hover {
   background-color: #eb787f;
}
.button__blue:hover {
   background-color: #68a0fa;
}
.main {
}
.footer {
}
/* 60 + 31 min */
